@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "Arvo", monospace;
  --font-body: "Geist", sans-serif;

  --color-dark: #556b2f;
  --color-light: #fff;
  --color-primary: #8fa31e;
  --color-secondary: #c6d870;
  --color-tertiary: #eff5d2;
  --color-accent: #f3c623;
}
