@import "tailwindcss";

@theme {
  --font-fancy: var(--font-luckiest);
  --font-body: var(--font-montserrat);

  --color-dark: #556b2f;
  --color-light: #fff;
  --color-primary: #8fa31e;
  --color-secondary: #c6d870;
  --color-tertiary: #eff5d2;
  --color-accent: #f3c623;
}

@layer components {
  :root {
    font-family: var(--font-body);
  }
}
